@page
@model AccessDeniedModel
@{
    ViewData["Title"] = @Base.Resources.WebApp.Areas.Identity.Pages.Account.AccessDenied.NoAccess;
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Base.Resources.WebApp.Areas.Identity.Pages.Account.AccessDenied.YouDoNotHaveAccessToThisResource</p>
</header>
