@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = @Base.Resources.WebApp.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.ForgotPasswordConfirm;
}

<h1>@ViewData["Title"]</h1>
<p>
    @Base.Resources.WebApp.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.PleaseCheckEmail
</p>

