@page
@model LockoutModel
@{
    ViewData["Title"] = @Base.Resources.WebApp.Areas.Identity.Pages.Account.Lockout.LockedOut;
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Base.Resources.WebApp.Areas.Identity.Pages.Account.Lockout.ThisAccountIsLockedOut</p>
</header>
