@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @Base.Resources.WebApp.Areas.Identity.Pages.Account.ResetPasswordConfirmation.ResetPasswordConfirm;
}

<h1>@ViewData["Title"]</h1>
<p>
    @Base.Resources.WebApp.Areas.Identity.Pages.Account.ResetPasswordConfirmation.PasswordHasBeenResetPlease<a asp-page="./Login">@Base.Resources.WebApp.Areas.Identity.Pages.Account.ResetPasswordConfirmation.ClickHereToLogIn</a>.
</p>
