@using System.Text.Json

<li class="nav-item">
    @{
        WebApp.BLL.DTO.Checkout.Cart? cart = null!;
        if (Context.Request.Cookies["Cart"] != null)
        {
            cart = JsonSerializer.Deserialize<WebApp.BLL.DTO.Checkout.Cart>(Context.Request.Cookies["Cart"]!);
        }
        
        if (cart == null || cart.Entries.Count <= 0)
        {
            <a asp-area="" asp-controller="Cart" asp-action="Index" class="nav-link text-dark" id="cart">@WebApp.Resources.WebApp.Views.Shared._CartPartial.Cart</a>
        }
        else
        {
            <a asp-area="" asp-controller="Cart" asp-action="Index" class="nav-link text-dark" id="cart">@WebApp.Resources.WebApp.Views.Shared._CartPartial.Cart (@cart.Entries.Count)</a>
        }
    }
</li>