@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@inject IOptions<RequestLocalizationOptions> _localizationOptions

@{
    var cultureItems = _localizationOptions.Value.SupportedUICultures
        .Select(cultureInfo =>
            new
            {
                Name = cultureInfo.Name,
                NativeName = cultureInfo.NativeName
            })
        .ToList();
}

<div class="dropdown float-end">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
        @Base.Resources.WebApp.Views.Shared._LanguagePartial.Language
    </button>
    <ul class="dropdown-menu">
        @foreach (var cultureItem in cultureItems)
        {
            <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="@cultureItem.Name" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString">@cultureItem.NativeName</a></li>
        }
    </ul>
</div>
