html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Custom
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.carousel-control-prev-icon {
    background-image: url(../assets/arrow-left-circle-fill.svg);
    height: 1.5rem;
    width: 1.5rem;
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.carousel-control-next-icon {
    background-image: url(../assets/arrow-right-circle-fill.svg);
    height: 1.5rem;
    width: 1.5rem;
    max-height: 1.5rem;
    max-width: 1.5rem;
}

@media (min-width:768px) {
    .banner {
        padding-bottom: 100px;
        padding-top: 100px;
    }
}

.banner {
    padding-bottom: 50px;
    padding-top: 50px;
}

.banner-image {
    height: 50%;
    width: 50%;
    object-fit: cover;
}

.card-image {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.gradient {
    background: linear-gradient(120deg, #1b1e21, #95999c);
    color: #ffffff;
}

.new-line {
    width: 100%;
}

.cart-image {
    max-height: 10%;
    max-width: 10%;
}
